body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;

}
.calculator form input{
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    background: lightslategray;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
form input:hover{
    background-color: lightgray;
}
form input:active{
    background-color: grey;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 40px;
}
form input.equal{
    width: 113px;
}
