*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}
body{
    /* background-image: url(../images/background.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
header{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 10px;
    border-bottom: 1px solid black;
    transition: all ease .50s;
    background-color: burlywood;
}
.logo{
    color: teal;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bolder;
}
.navlist{
    display: flex;
}
.navlist a{
    color: blueviolet;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 40px;
    transition: all ease .40s;
}
.navlist a:hover{
    color: black;

}
#menu-icon{
    font-size: 30px;
    color: black;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 120px 19% 100px;
}
.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url();
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.hero-text h3{
    color: tomato;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}
.hero-text h1{
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.hero-text h4{
    color: brown;
    font-size: 25px;
    font-weight: 400;
    word-spacing: 5px;
    margin-bottom: 2rem;
}
.btn{
   display: inline-block; 
   background-color: chocolate;
   font-size: 20px;
   font-weight: 400;
   border: 1px solid black;
   transition: all ease .50s;
   border-radius: 10px;
   height: 30px;
   width: 125px;
   padding: 2px;
   

}
.btn:hover{
    transform: translateX(5px);
    background-color: lightcoral;

}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
}
.about-img img{
    width: 100%;
    height: auto;
}
.about-text h2{
    font-family: sans-serif;
    font-size: 35px ;
    margin-bottom: 10px;
}
.about-text h5{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}
.about-text p{
 font-size:15px;
 line-height: 30px;
 margin-bottom: 2rem;   
}
.text-center{
    text-align: center;
}
.text-center h2{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
}
.service-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    align-items: center;
    gap: 2.2rem;
    text-align: center;
    margin-top: 4rem;
}
.service-box{
    padding: 25px 30px;
    border-radius: 0.8rem;
    border: 1px solid black;
    cursor: pointer;
    transition: all ease .50s;
    background-color:lightcoral;
}
.projects i{
    font-size: 50px;
color: crimson;
margin-bottom: 10px;
}

.projects h3{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 12px;
}
.projects p{
    line-height: 20px;
    margin-bottom: 1rem;
}
.s-btn{
    display: inline-block;
    padding: 9px 24px;
    background-color: lavender;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid black;
    transition: all ease .50s;
}
s-btn:hover{
    transform: scale(1.1);
    background: chocolate;
    border: 2px solid black;
}
.service-box:hover{
    transform: translateX(-8px);
    border: 1px solid black;
}
.end-section{
    padding: 80px 19% 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100%;
   align-items: center;
   justify-content: center;
}
.end-section h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: teal;
}
.end-section p{
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;
}
.end-section i{
    height: 40px;
    width: 40px;
    background-color: indianred;
    color: black;
    border: 2px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50px;
    margin: 0 9px;
    transition: all ease .50s;
}
.end-section:hover{
    transform: translateY(-5px);
    background: transparent;
    
}
@media (max-width:1600px) {
    header{
        padding: 14px 4%;
        position: sticky;
    }
    section{
        padding: 100px 5% 80px;
    }
    
}
@media(max-width:1200px){
    .home{
        min-height: 90vh;
    }
    .navlist a{
            margin: 0 20px;
    }
    .hero-text h1{
        font-size: 5rem;
    }
    .about-text h2{
        font-size: 3.1rem;
    }
    .text-center h2{
        font-size: 3.1rem;
    }
    .end-section p{
        font-size: 1rem;
    }
    .projects p{
        font-size: 1rem;
    }
    .about-text p{
        font-size: 1rem;
    }
}
@media(max-width:1060px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
        /* height: 400px;
        width: 400px; */
    }
    .about-img img{
        max-width: 100%;
        width: 600px;
        height: auto;
    }
    .service-item{
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));

    }
    .btn{
        width: 150px;
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    
}
@media(max-width:870px){
    #menu-icon{
        display: block;
    }
    
    .navlist{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        text-align: left;
        transition: all .50s ease;
        background-color: lightgrey;
    }
    .navlist a{
        display: block;
        font-size: 22px;
        padding: 12px 0;

    }
    .navlist.open{
        top: 100%;
    }
    .btn{
        width: 150px;
        height: 60px;
    }

}
@media(max-width:660px){
    .home{
        min-height: 80vh;

    }
    .hero-text h1{
        font-size: 2rem;
    }
    .about-text h2{
        font-size: 1rem;
    }
    .text-center h2{
        font-size: 1rem;
    }
    .end-section p{
        font-size: 15px;
    }
    .projects p{
        font-size: 15px;
    }
    .about-text p{
        font-size: 15px;
    }
    .hero-text h4{
        font-size: 18px;
        word-spacing: 10px;
        margin-bottom: 30px;
    }
    .btn{
        padding: 10px 35px;
    }
    .left-contact{
        gap: 3rem;
    }
    .in i {
        font-size: 80px;
    }
    .in h4{
        font-size: 20px;
    }
}
@media(max-width:460px){
    .hero-text h1{
        font-size: 3.5rem;
    }
    .about-text h2{
        font-size: 2.5rem;
    }
    .text-center h2{
        font-size: 2.5rem;
}
.hero-text h4{
    font-size: 16px;
    word-spacing: 7px;
}
.btn{
    width: 150px;
    height: 60px;
}
}